---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="john's blog">
  <main>
      <ul>
        <li><a href="/blurbles/blurble-1/">Blurble 1</a></li>
        <li><a href="/blurbles/blurble-2/">Blurble 2</a></li>
        <li><a href="/blurbles/blurble-3/">Blurble 3</a></li>
      </ul>
  </main>
</BaseLayout>