---
import BaseLayout from '../layouts/BaseLayout.astro';
import { CarouselDefault } from '../components/Carousel';
import { getCollection } from 'astro:content';

const items = await getCollection('items', ({data}) => {
	return data.draft !== true;
})
const sortedItems = items.sort((a, b) => {
	return Number(b.data.createdDate) - Number(a.data.createdDate);
})
const recentItems = sortedItems.slice(0, 5);
---

<BaseLayout title="john's wiki">
	<main class="ml-0 mr-0 p-4 text-white w-fit h-80vh font text-xl leading-relaxed sm:m-auto sm:w-70 sm:h-75vh">
		<CarouselDefault items={recentItems} client:load/>
	</main>
</BaseLayout>
