---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import bigOrgan from "../images/bigOrgan.webp";
---

<BaseLayout title="john's music">
  <main class="page-container">
      <ul class="page-text list">
        <li><a href="https://linktr.ee/realguy">Real Guy</a></li>
        <li><a href="https://open.spotify.com/artist/4unAGuTusDnKOU38UE3cUv">Supertown</a></li>
        <li><a href="https://johnrusch.bandcamp.com/album/various-2011-2015">Bandcamp.com</a></li>
      </ul>
    <div class="page-image">
      <Image class="page-image-img" src={bigOrgan} alt="big organ" />
    </div>
  </main>
</BaseLayout>
