---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const computerItems = await getCollection("items", ({ data, id }) => {
    return !data.draft && id.startsWith("computer");
  });
  return computerItems.map((entry) => {
    const slug = entry.slug.split("/")[1];
    return { params: { slug }, props: { entry } };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageLayout
  title={entry.data.title}
  image={entry.data.image}
  imageAlt={entry.data.imageAlt}
>
  <h1 class="mb-4">{entry.data.title}</h1>
  <Content />
</PageLayout>
