---
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import ListCard from "../../components/ListCard.astro";
import computer from "../../images/danielCraigComputer.webp";

const items = await getCollection("items", ({ data, id }) => {
  return !data.draft && id.startsWith("computer/");
});
---

<PageLayout
  title="john's computer"
  image={computer}
  imageAlt="A computer in a café with a picture of Daniel Craig as the background"
  imageHeight="h-64"
>
  <div slot="text">
    {
      items.map((item) => {
        return (
          <ListCard
            title={item.data.title}
            createdDate={item.data.createdDate.toDateString()}
            slug={item.slug}
          />
        );
      })
    }
  </div>
</PageLayout>
