---
import { Image } from "astro:assets";
import githubIcon from '../images/githubIcon.webp';
import linkedinIcon from '../images/linkedinIcon.webp';
import "../styles/global.css"

---

<footer class="footer">
  <a href={`https://github.com/johnrusch`} target="_blank" rel="noopener" class="footer-link">
    <Image class="footer-icon" src={githubIcon} alt="Github" />
  </a>
  <a href="https://www.linkedin.com/in/john-r-54a012184/" target="_blank" rel="noopener" class="footer-link">
    <Image class="footer-icon" src={linkedinIcon} alt="LinkedIn" />
  </a>
</footer>
