---

---
<div id="hamburger-icon" class="justify-self-end w-16 h-16 cursor-pointer">
</div>

<style>
  #hamburger-icon {
    background-image: url('../images/hamburgerSpritesheet.webp');
    background-size: 1100%;
    background-position: 0%;
  }

  @keyframes animate-to-end {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -1000%;
    }
  }

  @keyframes animate-to-start {
    0% {
      background-position: -1000%;
    }
    100% {
      background-position: 0%;
    }
  }

  @media screen and (min-width: 1051px) {
    #hamburger-icon {
      display: none;
    }
  }

</style>