---
import { Image } from "astro:assets";
import logoImage from "../images/logoImage.webp";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import '../styles/global.css';
---

<header id="header" class="flex flex-col items-center p-6 pb-0 lg:flex lg:flex-row lg:justify-between lg:p-0">
  <div class="header-container flex justify-between items-center w-full">
    <a href="/" class="w-3/4 h-auto hover:cursor-pointer">
      <Image src={logoImage} alt="john's wiki logo" class="w-full h-auto rounded-xl sm:w-96 hover:bg-light-yellow"/>
    </a>
    <Hamburger />
  </div>
  <nav class="flex w-full">
    <Navigation />
  </nav>
</header>
<!-- <Image id="header-border-bottom" class="horizontal-line" src={horizontalLine} alt="horizontal line" /> -->
