---
import { Image } from "astro:assets";
import logoImage from "../images/logoImage.webp";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import '../styles/global.css';
---

<header id="header">
  <div class="header-container">
    <a href="/" id="logo-link">
      <Image src={logoImage} alt="john's wiki logo" id="logo-image" />
    </a>
    <Hamburger />
  </div>
  <nav id="nav-element">
    <Navigation />
  </nav>
</header>
<!-- <Image id="header-border-bottom" class="horizontal-line" src={horizontalLine} alt="horizontal line" /> -->
