---
const { title, createdDate, slug, link } = Astro.props;
---

<a href={link || slug} class="no-underline" target={link ? "_blank" : "_self"}>
  <div
    class="mb-2 hover:bg-light-green list-card"
  >
    <h3 class="mt-2 mb-2">{title}</h3>
    {createdDate && <small>{createdDate}</small>}
  </div>
</a>
<script>
  import "../scripts/borderImage.js"
</script>
