---
const currentUrl = Astro.url.pathname;
console.log(currentUrl);
---

<div
  class="nav-links flex absolute w-full max-h-0 top-20 left-0 right-0 m-0 transit overflow-hidden z-50"
>
  <div
    class="flex w-full justify-evenly mt-3 mb-4 sm:justify-end sm:mt-0 sm:mb-0"
  >
    <a class="w-1/2 flex justify-center items-center" href="/about">
      <div
        id="about-icon"
        class=`block w-full h-auto opacity-80 rounded-none sm:rounded-lg hover:cursor-pointer animated-icon ${currentUrl === '/about' ? 'active' : ''}`
      >
      </div>
    </a>
    <a class="w-1/2 flex justify-center items-center" href="/computer">
      <div
        id="computer-icon"
        class=`block w-full h-auto opacity-80 rounded-none sm:rounded-lg hover:cursor-pointer animated-icon ${currentUrl === '/computer' ? 'active' : ''}`
      >
      </div>
    </a>
    <a class="w-1/2 flex justify-center items-center" href="/blog">
      <div
        id="blog-icon"
        class=`block w-full h-auto opacity-80 rounded-none sm:rounded-lg hover:cursor-pointer animated-icon ${currentUrl === '/blog' ? 'active' : ''}`
      >
      </div>
    </a>
    <a class="w-1/2 flex justify-center items-center" href="/music">
      <div
        id="music-icon"
        class=`block w-full h-auto opacity-80 rounded-none sm:rounded-lg hover:cursor-pointer animated-icon ${currentUrl === '/music' ? 'active' : ''}`
      >
      </div>
    </a>
    <a class="w-1/2 flex justify-center items-center" href="/art">
      <div
        id="art-icon"
        class=`block w-full h-auto opacity-80 rounded-none sm:rounded-lg hover:cursor-pointer animated-icon ${currentUrl === '/art' ? 'active' : ''}`
      >
      </div>
    </a>
  </div>
</div>

<style>
  .nav-links {
    transition: max-height 0.5s ease-in-out;
    background-color: #faf3e0;
  }

  .nav-links.expanded {
    max-height: 1000px;
    transition: max-height 0.8s ease-in-out;
  }

  .nav-links.collapsed {
    transition: max-height 0.5s ease-in-out;
  }
  /* .nav-icon {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
    border-radius: none;
  } */

  #computer-icon.active,
  #about-icon.active,
  #music-icon.active,
  #art-icon.active,
  #blog-icon.active {
    background-color: #ffa8d1;
  }

  #computer-icon {
    background-image: url("../images/computerSpritesheet.webp");
  }
  #about-icon {
    background-image: url("../images/aboutSpritesheet.webp");
  }
  #music-icon {
    background-image: url("../images/musicSpritesheet.webp");
  }

  #art-icon {
    background-image: url("../images/artSpritesheet.webp");
  }

  #blog-icon {
    background-image: url("../images/blogSpritesheet.webp");
  }

  .animated-icon {
    background-size: 800%;
    background-position: 0%;
    width: 4.7rem;
    height: 4.7rem;
  }

  .animated-icon:hover {
    animation: icon-animation 1s steps(8) infinite;
    background-color: #8de08a;
    opacity: 1;
  }

  @keyframes icon-animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -800%;
    }
  }

  @media screen and (min-width: 1051px) {

    .nav-links {
      position: unset;
      max-height: 500px;
    }

    .animated-icon {
      width: 8rem;
      height: 8rem;
    }
  }
</style>
