---
import "../styles/global.css";
import { Image } from "astro:assets";
import aboutIcon from "../images/aboutIcon.webp";
import blogIcon from "../images/blogIcon.webp";
import musicIcon from "../images/musicIcon.webp";
import artIcon from "../images/artIcon.webp";
import computerIcon from "../images/computerSpritesheet.webp";
---

<div class="nav-links">
  <div class="nav-icon-container">
    <a class="nav-link" href="/about">
      <div id="about-icon" class="nav-icon animated-icon"></div>
    </a>
    <a class="nav-link" href="/blog">
      <div id="blog-icon" class="nav-icon animated-icon"></div>
    </a>
    <a class="nav-link" href="/music">
      <div id="music-icon" class="nav-icon animated-icon"></div>
    </a>
    <a class="nav-link" href="/art">
      <div id="art-icon" class="nav-icon animated-icon"></div>
    </a>
    <a class="nav-link" href="/computer">
      <div id="computer-icon" class="nav-icon animated-icon"></div>
    </a>
  </div>
</div>

<style>
  .nav-icon-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0.75rem;
  }
  .nav-link {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-icon {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
  }

  #computer-icon {
    background-image: url("../images/computerSpritesheet.webp");
  }
  #about-icon {
    background-image: url("../images/aboutSpritesheet.webp");
  }
  #music-icon {
    background-image: url("../images/musicSpritesheet.webp");
  }

  #art-icon {
    background-image: url("../images/artSpritesheet.webp");
  }

  #blog-icon {
    background-image: url("../images/blogSpritesheet.webp");
  }

  .animated-icon {
    background-size: 800%;
    background-position: 0%;
    width: 3.5rem;
    height: 3.5rem;
  }

  .animated-icon:hover {
    animation: icon-animation 1s steps(8) infinite;
  }

  @keyframes icon-animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -800%;
    }
  }

  @media screen and (min-width: 1051px) {
    .nav-icon-container {
      justify-content: flex-end;
      margin-top: 0;
    }

    .nav-link {
      margin: 1rem;
    }
    .nav-icon {
      width: 100%;
    }

    .animated-icon {
      width: 8rem;
      height: 8rem;
    }
    /* #computer-icon {
      width: 8rem;
      height: 8rem;
    }

    #about-icon {
      width: 8rem;
      height: 8rem;
    }

    #music-icon {
      width: 8rem;
      height: 8rem;
    } */
  }
</style>
